<div class="jumbotron fluid-jumbotron" style="background-color: white;">
    <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Gap OCC 1215-1320 Bla Bla Bla Bla Bla Bla Bla Bla Bla djkafjfdalfda
        <span class= "justify-content-end">
            <span class="badge badge-pill badge-secondary">12:15</span>
            <span class="badge badge-dark badge-pill" id="sc">14</span>
            <span class="badge badge-info badge-pill" id="ant">74</span>
        </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        BOT 2-way
        <span class= "justify-content-end">
            <span class="badge badge-pill badge-secondary">13:20</span>
            <span class="badge badge-dark badge-pill" id="sc">14</span>
            <span class="badge badge-info badge-pill" id="ant">74</span>
        </span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        EOT
        <span class= "justify-content-end">
            <span class="badge badge-pill badge-secondary">13:25</span>
            <span class="badge badge-dark badge-pill" id="sc">14</span>
            <span class="badge badge-info badge-pill" id="ant">74</span>
        </span>
    </li>
    </ul>
</div>