<div id='home' class="jumbotron">
    <section id="search" class="search-wrap">
        <h1>DSOT Logger 4.0</h1>
        <ol>
            <li>Add an Entry</li>
            <li>View Entries</li>
        </ol>
    </section>
</div>